@model CoreCrud.Models.StudentMod


@{ 
    Layout = null;
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h2 class="text-uppercase text-center">SignUp Here</h2>
            </div>
            <div class="card-body">
                <form asp-action="UserReg" asp-controller="Employee" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>


                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" type="text" class="form-control" required />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" type="email" class="form-control" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" type="password" class="form-control" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>


                    <input type="submit" value="SignUp" class="btn btn-sm btn-success text-uppercase rounded-0" />
                    <span>If you have a already Account</span> <a asp-action="Login" asp-controller="Employee">Click Here</a>

                </form>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>